# Basic Operation and Operators

- ADD +
- SUB -
- MUL *
- DIV / (real number)
- INTEGER DIV // (whol number)
- MUDULUS % (remainder)
- EXPONENT **(power)

In [1]:
2+2

4

In [2]:
35 + 38

73

In [3]:
3.2 + 3.9

7.1

In [4]:
23/2

11.5

In [7]:
22/9

2.4444444444444446

In [8]:
3/5

0.6

In [9]:
36-23

13

In [10]:
3-10

-7

In [11]:
329*123

40467

In [12]:
222-111

111

In [13]:
122-34

88

In [14]:
10/3

3.3333333333333335

In [15]:
10//3

3

In [16]:
10*3

30

In [17]:
20**3

8000

In [18]:
100**2

10000

In [19]:
100**3

1000000

In [20]:
2000%30

20

Comparison Operators
<,>,<=,>=,==,!=

In [21]:
288<233

False

In [22]:
23>55

False

In [23]:
556<=445

False

In [24]:
2366>=5644

False

In [25]:
234==234

True

In [26]:
228<=455

True

In [27]:
455!=455

False

In [28]:
'Hello'

'Hello'

In [29]:
'hii friends'

'hii friends'

In [31]:
"thi is the python program"

'thi is the python program'

In [34]:
'''prati
ppp
'''

'prati\nppp\n'

In [37]:
name = 'Pratima'

In [38]:
a = 10
b = 3

In [41]:
a + b

13

In [40]:
a - b

7

In [42]:
a*b

30

In [43]:
b**a

59049

In [44]:
a//5

2

In [45]:
0.12//3

0.0

Some Error Program

In [1]:
Collage = 'BBAU TIKARMAFI
DOB = 15/07/2001
MOBIL = '9415903528'

SyntaxError: EOL while scanning string literal (2983802878.py, line 1)

In [4]:
# single quotes error
Location ='Lucknow is a

SyntaxError: EOL while scanning string literal (479492262.py, line 2)

In [1]:
Location = 'amethi'

In [12]:
location ='hheiehif

SyntaxError: EOL while scanning string literal (4193887685.py, line 1)

In [4]:
# undefined Variable error
Place

NameError: name 'Place' is not defined

In [5]:
33 + 55 #add

88

In [6]:
22+name

NameError: name 'name' is not defined

In [7]:
'hello' + 'word' # conca

'helloword'

In [20]:
"Random" + location

'Randomhheighg'

In [24]:
name = "Pratima"
print(name)

Pratima

In [28]:
a = 10 
b = 7
c = a+b
print(c)

17

In [31]:
name ='Pratima'
college = 'BBAU TIKARMAFI' 
dob = '15/07/2001'
mobile = '9415903528'

In [32]:
name

'Pratima'

In [33]:
dob

'15/07/2001'

In [34]:
college

'BBAU TIKARMAFI'

Sting Operators Example

In [35]:
'hello'+'Pratima'

'helloPratima'

In [36]:
2*name

'PratimaPratima'

In [37]:
22222/66

336.6969696969697

In [41]:
45*3

135

In [43]:
Eojis ="👌👌"

In [44]:
EMOJIS = "✌✌"

In [46]:
Emojis = '👌'
Emojis*10

'👌👌👌👌👌👌👌👌👌👌'

Some Error String Program

In [47]:
#string and number can
a + name

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [48]:
# you can multiply a strig
"ha"*10

'hahahahahahahahahaha'

In [49]:
Name * Pratima

NameError: name 'Name' is not defined

In [57]:
name * 1

'Pratima'

In [59]:
city * 222

49284

In [60]:
'_' * 15

'_______________'

In [62]:
# city = 'Lucknow'
city * 10

2220

VARIABLES

In [63]:
name = "Bruce Wayne"
hero_name = "Batman"
skills = ['figjting','superman']
created_in = 1939

Integer

In [64]:
x = 123
y = 6666666
z = -48489

In [65]:
x = 12*12

In [66]:
type(name)

str

In [67]:
type(z)

int

In [68]:
type(x)

int

Float

In [69]:
x = 1.22

In [70]:
x = 1.11
y = 1.0
z = -23.22
z = 12e100

In [71]:
x = 1.0
y = 78.7e1000

String

In [72]:
name = "bruce wayne 01"
color = 'yellow'
institute = 'digipodium'

In [74]:
kahani = '''this is the student
who was not learning to digipodium'''

In [75]:
is_coding = True
is_fun = True
are_u_bored = False

None

In [76]:
x = None

List

In [79]:
a = [5,10,15,20,25,30,35,40]
vals = [1,2.2,'python']
colors = ['red','green','yellow']

Tuple

In [78]:
a = (5,10,15,20,25,30,35,40,)
vals = (1,2.2,'python')
color = ('red','green','yellow')

Sets

In [80]:
a = {5,10,15,20,25,30,35,40,}
vals = {1,2.2}
color = {'red','green','yellow'}

Dictionaries

In [83]:
car_info={
    "brand":"ford",
    "mpdel":"mustang",
    "year": 1964
}

Sum of first 10 even number

In [19]:
a = int(input(10))
sum = 0
for i in range(a+1):
    if i%2 == 0:
        sum += i
sum = sum -1
print(sum)

155